h1{
  font-family: 'Pacifico', sans-serif;
}
.Logo{
  text-align: center;
  padding-top: 10%;
  padding-bottom: 5%;
  background-color: #E6E5A3;
  
  color: #557153;
}
#searchbar{
  margin: 0 10% 15% 5%;
  width: 30%;
}
.Criteria{
  padding-top: 10%;
}
.Search{
  background-color: #A9AF7E;
  text-align: center;
  padding-bottom: 10%;
}
#btn{
  background-color: #7D8F69;
  width: 15%;
  margin-left: 200px;
  padding: 10px 30px;
  margin: 50px 21px 0 21px;
  cursor: pointer;
  display: block;
  border: 0;
  outline: none;
  border-radius: 30px;
}
